body{
    background-color: black;
    color: white;
    padding: 7%;
}

#time_container {
    width: 100%;
}

#time {
    font-size: 23vh;
    display: inline-block;
}

#time_of_day {
    font-size: 12vh;
    display: inline-block;
}

#spotify_content {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 5%;
}

#album_cover {
    max-width: 100%;
}

#news_container {
    display: inline-block;
    width: 25%;
}

#news_header {
    font-size: 25px;
}