/* css for the mirror.html page */
body{
    background-color: black;
    color: white;
    padding: 7%;
}

#time_container {
    width: 100%;
}

#time {
    font-size: 23vh;
    display: inline-block;
}

#time_of_day {
    font-size: 12vh;
    display: inline-block;
}

#spotify_content {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 15%;
}

#album_cover {
    width: 20vh;
    height: 20vh;
    padding-right: 10px;
}

#news_container {
    display: inline-block;
    width: 25vh;
}

#news_header {
    font-size: 25px;
}

#weather-icon{
    width: 15vh;
    height: 15vh;
    background-repeat: no-repeat;
    background-size: contain;
    
}

#all-temps{
    display: inline;
    position: absolute;
    font-size: 5vh;
}